.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 180px;
    height: 100vh;
    border: 2px solid var(--light-alt);
    font-size: 13px;
    padding-left: 13px;
    padding-right: 13px;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.loader{
    width: 180px;
    height: 100vh;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 8px;
    cursor: progress;
    background:
            linear-gradient(0.25turn, transparent, #fff, transparent),
            linear-gradient(#eee, #eee),
            radial-gradient(38px circle at 19px 19px, #eee, transparent 51%),
            linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-position: -315px 0, 0 0, 0 190px, 50px 195px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}

.form{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}

.form p{
    color: var(--light-alt);
    margin-top: 7px;
}

.price{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.priceGteLte{
    display: flex;
    width: 150px;
    gap: 5px;
}

.priceGteLte input{
    width: 70px;
    border-radius: 8px;
    height: 25px;
    text-align: center;
    border: 1px solid var(--light-alt);
}

.checkBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkBox label{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.form button{
    width: 100px;
    background: var(--light);
    border: none;
    background: var(--light-alt);
    height: 20px;
    border-radius:4px ;
    cursor: pointer;
    color: var(--light);
    transition: 0.5s;
}

.form button:hover{
    background: var(--dark);
    transition: 0.5s;
}

.logoBox{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logoBox h1{
    text-decoration: none;
    color: var(--light-alt);
}