.form{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}

.form p{
    color: var(--light-alt);
    margin-top: 7px;
}

.price{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.priceGteLte{
    display: flex;
    width: 150px;
    gap: 5px;
}

.priceGteLte input{
    width: 70px;
    border-radius: 8px;
    height: 25px;
    text-align: center;
    border: 1px solid var(--light-alt);
}

.checkBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkBox label{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.form button{
    width: 100px;
    background: var(--light);
    border: none;
    background: var(--light-alt);
    height: 20px;
    border-radius:4px ;
    cursor: pointer;
    color: var(--light);
    transition: 0.5s;
}

.form button:hover{
    background: var(--dark);
    transition: 0.5s;
}