.form {
  display: flex;
  border-radius: 8px;
  border: 2px solid var(--light-alt);
  width: 360px;
  justify-content: center;
  height: 30px;
  align-items: center;
  gap: 5px;
}

.form input {
  width: 250px;
  border: none;
  height: 25px;
  border-radius: 7px;
}

.form select{
  border-radius: 7px;
  height: 25px;
  width: 100px;
  border:none;
}