.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 220px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
}