.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
}