.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    height: 600px;
}

.container h1{
    font-size: 40px;
    color: var(--light-alt);
}

.link{
    border-radius: 8px;
    background: var(--light-alt);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.link:hover{
    background: black;
    color: white;
}