.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid black;*/
    width: 70vw;
    height: 60vh;
    position: relative;
    gap: 30px;
}

.container img {
    width: 200px;
}

.container span{
    color: var(--light-alt);
}

.imgBox {
    border: 2px solid var(--light-alt);
    border-radius: 8px;
}

.information {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

