.container {
  height: 150px;
  width: 200px;
  padding: 10px;
  overflow: scroll;
  border: 1px solid var(--light-alt);
  border-radius: 8px;
}

.container div {
  margin: 5px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-alt);
}

.container button {
  border: none;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}

.error {
  color: #d81e5b;
  font-size: 10px;
}
