.swiperSlide {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.swiperSlideMini {
  padding-top: 40%;
  position: relative;
}

.swiperSlideMini img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.swiperSlide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

[class="swiper-button-prev"]::after {
  color: var(--light-alt);
}

[class="swiper-button-next"]::after {
  color: var(--light-alt);
}

div.swiper-slide {
  background: #131a26;
  padding: 12%;
}

/*[class='swiper-slide DeviceSlider_swiperSlideMini__KOEfR swiper-slide-visible swiper-slide-next swiper-slide-thumb-active'] img{*/
/*    border: 2px solid var(--light-alt);*/
/*    border-radius: 8px;*/
/*}*/

/*[class='swiper-slide DeviceSlider_swiperSlideMini__KOEfR swiper-slide-visible swiper-slide-thumb-active'] img{*/
/*    border: 2px solid var(--light-alt);*/
/*    border-radius: 8px;*/
/*}*/

/*[class='swiper-slide DeviceSlider_swiperSlideMini__KOEfR swiper-slide-visible swiper-slide-active swiper-slide-thumb-active'] img{*/
/*    border: 2px solid var(--light-alt);*/
/*    border-radius: 8px;*/
/*}*/

/*[class='swiper-slide DeviceSlider_swiperSlideMini__KOEfR swiper-slide-thumb-active swiper-slide-visible swiper-slide-active'] img{*/
/*    border: 2px solid var(--light-alt);*/
/*    border-radius: 8px;*/
/*}*/

/*[class='swiper-slide swiper-slide-visible swiper-slide-active DeviceSlider_swiperSlideMini__KOEfR swiper-slide-thumb-active'] img{*/
/*    border: 2px solid var(--light-alt);*/
/*    border-radius: 8px;*/
/*}*/
