.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center
}

.devices{
    /*border:1px solid black ;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /*justify-content: center;*/
    /*min-width: 800px;*/
    width: 1000px;
}

