.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center
}

.devices{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /*justify-content: center;*/
    /*min-width: 800px;*/
    width: 1000px;
}

.error{
    color: #D81E5B;
    font-size: 10px;
}