:root {
    --primary: #D81E5B;
    --secondary: #8A4EFC;
    --light: #EEE;
    --light-alt: rgba(14,150,19,0.62);
    --dark: #131A26;
    --dark-alt: black;
}

*{
    font-family: 'Fira Sans',sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html body{
    width: 100vw;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.block{
    width: 70vw;
}