.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 220px;
    height: 360px;
    box-shadow: .5px .4px 3.8px black;
    border-radius: 8px;
    font-size: 13px;
    padding: 5px;
}


.card span{
    color: var(--light-alt);
}

.imageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 300px;
    overflow-block: hidden;
}

.img{
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button,.disabledButton{
    width: 100px;
    background: var(--light);
    border: none;
    background: var(--light-alt);
    height: 20px;
    border-radius:4px ;
    cursor: pointer;
    color: var(--light);
}

.button:hover{
    background: var(--dark);
}

.disabledButton {
    background: var(--light);
    color: #D81E5B;
    cursor: auto;
}