.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center
}

.block{
    height: 450px;
    display: flex;
    gap: 50px;
}

.img{
    min-width: 250px;
    max-width: 320px;
}

.devices{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    min-width: 800px;
    max-width: 1000px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 600px;
    max-width: 700px;
    height: 300px;
}

.infoBox{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.box h1{
    margin-top: 100px;
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 40px;
}

.box h1 span {
    color: var(--light-alt);
}

.info{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.info div{
    width: 145px;
}