.footer {
    padding-top:15px ;
    margin-top:30px ;
    height: 300px;
    width: 1000px;
    background: linear-gradient(white, var(--light-alt));
}

.footer a h1 {
    color: var(--light-alt);
    font-size: 20px;
}

.footer a {
    text-decoration: none;
}