.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  gap: 10px;
}

.username {
  color: var(--light-alt);
  margin-left: 2px;
}

.device {
  box-shadow: 0.5px 0.4px 3.8px black;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  padding: 10px;
}

.container img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.imgBox {
  border: 2px solid var(--light-alt);
  border-radius: 8px;
}

.property {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 60px;
  padding: 5px;
}

.deleteDevice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  padding: 5px;
}

.deleteDevice button {
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  cursor: pointer;
  background: none;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 700px;
}

.total div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 200px;
  border: 2px solid var(--light-alt);
  border-radius: 8px;
}

.total button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 200px;
  background: var(--light-alt);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-left: 4px;
}

.buttons button {
  border: 1px solid var(--light-alt);
  cursor: pointer;
  color: var(--light-alt);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total button:hover {
  background: var(--dark);
  color: white;
}

.currentError {
  color: #d81e5b;
  font-size: 10px;
}

.empty {
  font-size: 40px;
  color: var(--light-alt);
}
