.container {
    width: 100%;
    display: flex;
    height: 800px;
}

.container hr{
    height: 5px;
    border-radius: 4px;
    border: none;
    background: var(--light-alt);
}

.slider{
    width: 40%;
    margin: 20px;
}

.price{
    color: var(--light-alt);
}

.box{
    display: flex;
    width: 550px;
    gap: 20px;
    flex-direction: column;
    margin: 20px 20px 20px 0;
}

.info{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.buttons{
    display: flex;
    gap: 8px;
}

.button,.disabledButton{
    border-radius: 8px;
    border:none ;
    width: 150px;
    background: var(--light-alt);
    color: var(--light);
    height: 30px;
    cursor: pointer;
}

.disabledButton {
    background: var(--light);
    color: #D81E5B;
    cursor: auto;
}

.buttons button:hover{
    background: var(--dark);
}

.error{
    color: #D81E5B;
    font-size: 10px;
}