.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

.form input{
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 400px;
    height: 30px;
    text-align: center;
}

.form button{
    border-radius: 8px;
    width: 150px;
    border: none;
    height: 30px;
    color: var(--light);
    background: var(--light-alt);
}

.form button:hover{
    background:black;
    color: white;
}

::placeholder{
    text-align: center;
}

.form a{
    color: var(--light-alt);
    font-size: 12px;
}

.modalInfo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.modalInfo a{
    color: var(--light-alt);
    font-size: 12px;
}

.modalInfo span{
    color: var(--light-alt);
    margin-left: 4px;
    margin-right: 4px;
}