.header {
    margin-bottom: 15px;
}

.wrap {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap a h1 {
    color: var(--light-alt);
}

.header a{
    text-decoration: none;
    color: var(--light-alt);
    font-size: 15px;
}

.header a[class = 'active'] {
    color: var(--light);
}

.button {
    display: flex;
    gap: 12px;
}

.button div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button{
    border:none;
    background: none;
    color: var(--light-alt);
    font-size: 15px;
    cursor: pointer;
}

.button button:last-child {
    width: 115px;
    color: var(--light);
    /*box-shadow: .8px .4px 1.8px black;*/
    border: none;
    background: var(--light-alt);
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.button button:last-child:hover{
    background: var(--dark);
}

.nav{
    display: flex;
    gap: 8px;
}

.logoAndForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logoAndForm input{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid var(--light-alt);
}

/*.category{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*.category button{*/
/*    width: 115px;*/
/*    color: var(--light);*/
/*    !*box-shadow: .8px .4px 1.8px black;*!*/
/*    border: none;*/
/*    background: var(--light-alt);*/
/*    height: 25px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.category button:hover{*/
/*    background: var(--dark);*/
/*}*/

