.header{
    background: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    margin-bottom: 15px;
}

.header a{
    text-decoration: none;
    color: var(--light);
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.header a[class = 'active']{
    color: var(--light-alt);
}

.header div{
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    margin-right: 90px;
}
