.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header a h1{
    color: var(--light-alt);
}

.header a{
    text-decoration: none;
    color: var(--light-alt);
    font-size: 15px;
}

.header a[class = 'active']{
    color: var(--light);
}

.header div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    gap: 12px;
    margin-right: 75px;
}

.button button{
    border:none;
    background: none;
    color: var(--light-alt);
    font-size: 15px;
    cursor: pointer;
}

.button button:last-child{
    width: 115px;
    color: var(--light);
    box-shadow: .8px .4px 1.8px black;
    border: none;
    background: var(--light-alt);
    height: 25px;
    border-radius:4px ;
    cursor: pointer;
}

.nav{
    display: flex;
    gap: 8px;
}

