.header {
    margin-bottom: 15px;
}

.wrap {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap a h1 {
    color: var(--light-alt);
}

.header a{
    text-decoration: none;
    color: var(--light-alt);
    font-size: 15px;
}

.header a[class = 'active'] {
    color: var(--light);
}

.buttons {
    display: flex;
    gap: 12px;
}

.buttons div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    border:none;
    background: none;
    color: var(--light-alt);
    font-size: 15px;
    cursor: pointer;
}

.buttons button:last-child {
    width: 115px;
    color: var(--light);
    border: none;
    background: var(--light-alt);
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:last-child:hover{
    background: var(--dark);
}

.nav{
    display: flex;
    gap: 8px;
}

.logoAndForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 180px;
    border: 2px solid var(--light-alt);
    border-radius: 8px;
    font-size: 13px;
    padding: 13px;
    background: white;
    position: fixed;
    left: 20px;
    top: 170px;
}



