.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    gap: 20px;
}

.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formCommon{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formCommon input {
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 400px;
    height: 30px;
    text-align: center;

}

::placeholder{
    text-align: center;
}

.validButton{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background: var(--light-alt);
    border: none;
    color: var(--light);
}

.noValidButton{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background: var(--light);
    border: none;
    color: gray;
}