<table style="width: 100%; padding: 10px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 14px; text-align: center;">
      DigiStore © 2023
    </td>
  </tr>
  <tr>
    <td style="font-size: 10px; text-align: center;">
      <a href={{{frontendURL}}}><button>Click here</button></a>
    </td>
  </tr>
</table>