<table style="width: 100%; padding: 4px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
            <b>LOGO</b>
        </td>
        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 0"
                 src="https://www.datocms-assets.com/45470/1631110818-logo-react-js.png"
                 alt="icon">
        </td>
    </tr>
</table>