<table style="width: 100%; padding: 4px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 20px; text-align: left;">
      <b>DigiStore</b>
    </td>
    <td style="text-align: right;">
    </td>
  </tr>
</table>