.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: relative;
}

.container h1 {
    position: absolute;
    top: 100px;
}

.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form input{
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 400px;
    height: 30px;
    text-align: center;
}

.form button{
    border-radius: 8px;
    width: 150px;
    border: none;
    height: 30px;
    background: var(--light-alt);
    color: var(--light);
}

::placeholder{
    text-align: center;
}