.container {
  width: 975px;
  display: flex;
  justify-content: end;
}

.select {
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  border: 1px solid var(--light-alt);
  padding: 8px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

select option {
  background-color: #ffffff;
  color: #333333;
}
