.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: relative;
}

.card{
    box-shadow: .5px .4px 3.8px black;
    border-radius: 8px;
    background: var(--light-alt);
    border:2px solid var(--light-alt);
    position: relative;
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
}

.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.box{
    display: flex;
    gap: 10px;
}

.inputBox{
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 165px;
    height: 30px;
    text-align: center;
}

.inputZip{
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    height: 30px;
    text-align: center;
    width: 50px;
}

.cardInput{
    position: absolute;
    top: 90px;
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 350px;
    height: 30px;
    left: 25px;
    text-align: center;
}


.dayInput{
    position: absolute;
    bottom: 30px;
    right: 150px;
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.monthInput{
    position: absolute;
    bottom: 30px;
    right: 90px;
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.imgChip{
    position: absolute;
    width: 57px;
    top: 30px;
    left: 30px;
}

.imgMaster{
    position: absolute;
    width: 50px;
    bottom: 20px;
    right: 20px;
}

.input{
    border: 1px solid var(--light-alt);
    border-radius: 8px;
    width: 400px;
    height: 30px;
    text-align: center;
}

::placeholder{
    text-align: center;
}

.link{
    display: flex;
    gap: 4px;
    font-size: 12px;
}

.form a{
    color: var(--light-alt);
    font-size: 12px;
}

.form span{
    color: #D81E5B;
    font-size: 10px;
}

.validButton{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background: var(--light-alt);
    border: none;
    color: var(--light);
}

.noValidButton{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background: var(--light);
    border: none;
    color: gray;
}

.modal{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.modal h1{
    font-size: 30px;
    color: var(--light-alt);
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.button{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background: var(--light-alt);
    border: none;
    color: var(--light);
}

.button:hover{
    background: #131A26;
}